body {
    margin: 0px;
    background-color: #f2c57c;
    background-image: url("images/background.png");
    background-attachment: fixed;
    background-size: 300px;
    background-position: center;
    background-repeat:repeat;
    font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    color: #280004;
}

/* Navbar */

#navbar {
    overflow: hidden;
    background-color: #a53f2b;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f4f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #717568;
    color: #f2f4f3;
  }
  
  #navbar a:active {
    background-color: #f2c57c;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

/* Footer */
.footer {
	position: fixed;
	width: 100%;
    height: auto;
	left: 0;
	bottom: 0;
	background-color: #a53f2b;
	color: #f2f4f3;
	text-align: center;
}

/* Page Content and Sections */

section {
    position: relative;
    padding: 16px;
}
.content-left {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.content-center {

}
.row {
    display: flex;
}
.column-image {
    flex:25%;
    align-items: center;
}
.column-text {
    flex:75%;
}
footer {
    background-color: #a53f2b;
    height: 200px;
    width: 100%;
    padding: 10px, 30px, 10px, 30px;
    color: #f2f4f3;
    text-align: center;
    align-items: center;
}

/* Hero Section Features */

.hero-section {
    margin: 0 auto;
    height: 450px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 100px,0px,100px,0px;
}
.hero-div {
    align-items: center;
    justify-content: center;
}
.hero-title {
    color: #f2f4f3;
    font-size: 50pt;
    text-align: center;
}
.hero-divline {
    height: 3px;
    width: 100%;
    background-color: #f2f4f3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-subtitle {
    color: #f2f4f3;
    font-size: 25pt;
    text-align: center;
}

/* Individual IDs for hero sections */

#hero-home {
    background-image: url("images/hero-home-image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#hero-starter {
    background-image: url("images/hero-starter-image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#hero-baking {
    background-image: url("images/hero-baking-image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#hero-recipes {
    background-image: url("images/hero-recipes-image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Titles and Headings */

h1 {
    Color: #280004;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
    text-align: left;
    column-span:all;
}
h2 {
    Color: #a52f2b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
    text-align: left;
    column-span:all;
}
.div-line {
    height: 3px;
    width: 100%;
    background-color: #280004;
    margin-bottom: 40px;
    column-span:all;
}