body {
    margin: 0px;
    background-color: #f2c57c;
    background-image: url("images/background.png");
    background-attachment: fixed;
    background-size: 300px;
    background-position: center;
    background-repeat:repeat;
    font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 16pt;
    color: #280004;
}

/* Navbar */

#navbar {
    overflow: hidden;
    background-color: #a53f2b;
    z-index: 9999;
  }
  
#navbar a {
    float: left;
    display: block;
    color: #f2f4f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18pt;
  }
  
#navbar a:hover {
    background-color: #717568;
    color: #f2f4f3;
  }
  
#navbar a:active {
    background-color: #f2c57c;
    color: white;
  }
  
.content {
    padding: 16px;
  }
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.sticky + .content {
    padding-top: 60px;
  }

/* Footer */
footer {
	position: fixed;
	width: 100%;
    height: 50px;
	left: 0;
	bottom: 0;
	background-color: #a53f2b;
	color: #f2f4f3;
    font-size: 12pt;
	text-align: center;
    margin-top: 50px;
    border-top: solid #f2f4f3 3px;
    border-bottom: solid #f2f4f3 3px;
}
#p-footer {
    font-size: 12pt;
    align-items: center;
}

/* Page Content and Sections */

section {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

}
.content-left {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.content-center {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

/* Multiple Column Section */

.row {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.column-image {
    flex:25%;
    align-items: center;
    padding-right: 25px;
}
.column-text {
    flex:75%;
    align-items: center;
}
.column-even {
    flex:50%;
    text-align: left;
}

/* Hero Section Features */

.hero-section {
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 100px,0px,100px,0px;
}
.hero-div {
    align-items: center;
    justify-content: center;
}
.hero-title {
    color: #f2f4f3;
    font-size: 50pt;
    text-align: center;
}
.hero-divline {
    height: 3px;
    width: 100%;
    background-color: #f2f4f3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-subtitle {
    color: #f2f4f3;
    font-size: 25pt;
    text-align: center;
}

/* Individual IDs for sections with a background. */

#hero-home {
    background-image: url("images/hero-home-image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#hero-starter {
    background-image: url("images/hero-starter-image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#hero-baking {
    background-image: url("images/hero-baking-image.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
#hero-recipes {
    background-image: url("images/hero-recipes-image.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
#button-section {
    background-image: url("images/button-baking-image.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-size: 1871px;
    color:#f2f4f3;
    justify-items: center;
}
#recipe-background {
    background-image: url("images/recipe-background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.solid-background {
    background-color: #a53f2b;
    padding-bottom: 50px;
}

/* Titles, Text, and Headings */

h1 {
    color: #280004;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
    text-align: left;
    column-span:all;
}
h2 {
    color: #a52f2b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
    text-align: left;
    column-span:all;
}
h3 {
    color: #280004;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    text-align: left;
    column-span:all;
}
.div-line {
    height: 3px;
    width: 100%;
    background-color: #280004;
    margin-bottom: 40px;
    column-span:all;
}
h1.lighter {
    color:#f2f4f3;
}
h2.lighter {
    color:#f2f4f3;
}
.div-line.lighter {
    background-color:#f2f4f3;
}
.div-line.lighter.divider {
    margin-top: 50px;
    height: 2px;
}
p.lighter {
    color:#f2f4f3;
    font-size: 16pt;
}
a {
    color:#f2f4f3;
}
em.add-on {
    font-size:13pt;
}

/* Lists */

li {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: left;
}
ol.recipe {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    font-size: 50px;
    list-style-position: inside;
}
ol.lighter {
    color:#f2f4f3
}
ul.lighter {
    color:#f2f4f3
}

/* Images */

.img-column {
    width:250px;
    border-radius: 8%;
    box-shadow: 5px 10px 15px #000;
} 
.img-column.lighter {
    width:250px;
    border-radius: 8%;
    box-shadow: 5px 10px 15px #000;
}

/* Buttons */

.btn {
    background-color: #a53f2b;
    border: solid #f2f4f3 3px;
    color: #f2f4f3;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
  }
.btn:hover {
    background-color: #717568;
}
.btn-dark {
    background-color: #f2c57c;
    border: solid #f2f4f3 3px;
    color: #a53f2b;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}
.btn-dark:hover {
    background-color: #717568;
    color: #f2f4f3;
}